<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35301569096-occgdd1vste0enmk5ffg9dfqii4ig2j5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35301569096-occgdd1vste0enmk5ffg9dfqii4ig2j5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>35301569096-o69c2t79efqq1n31d6vnsjohaqi0cru9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6rcjL0cwgqM0v4Hbt-P3yROFIidbFFjk</string>
	<key>GCM_SENDER_ID</key>
	<string>35301569096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drcoderz.fluttergoogleauth</string>
	<key>PROJECT_ID</key>
	<string>flutter--signin-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter--signin-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35301569096:ios:f59792f7f1767e47069e7d</string>
	<key>DATABASE_URL</key>
	<string>https://flutter--signin-auth.firebaseio.com</string>
</dict>
</plist>